.header-menu-container {
  height: 100%;
  width: 100%;
  padding: 15px;
  padding-top: 5px;
}

.input-container {
  overflow: hidden;
  white-space: nowrap;

  // display: inline-block;
  // width: 800px;
  position: relative;
  // top: 15px;
  // height: calc(100%-10px);
  margin: auto;
  background-color: rgb(255, 255, 255);

  border-radius: 10px;
  padding: 15px;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.router-button {
  // background-color: orange;
}

.data-button {
  // height: 100%;
}

.space-div {
  width: 10px;
}
