.svgRoot {
  background: white;
}

.node rect {
  cursor: move;
  fill-opacity: 0.9;
  shape-rendering: crispEdges;
}

.node text {
  pointer-events: none;
  text-shadow: 0 1px 0 #fff;
}

.link {
  fill: none;
  stroke: #000;
  stroke-opacity: 0.2;
}

.link:hover {
  stroke-opacity: 0.5;
}

.gGridlinesLinelist .tick line {
  /* opacity: 0.5;
  stroke-dasharray: 4, 6;
  stroke-width: 1; */
}

.timelineContainer .mouseLine {
  opacity: 0.5;
  /* stroke-dasharray: 4, 6; */
  stroke-width: 1;
  stroke: black;
}

.timelineContainer path {
  /* stroke: #000000; */
}

.timelineContainer circle {
  /* stroke: #000000;
    fill: #000000; */
}

div.timelineLegende {
  padding: 0px;
  display: inline-block;
  height: 65px;
}

.timelineLegende table {
  background: #dddddd;
  margin-bottom: 10px;
  margin-left: 10px;
}

.timelineLegende table {
  text-align: center;
}

.timelineLegende table th {
  width: 85px;
}

.timelineLegende td div {
  /* width: 100%; */
  height: 20px;
}

line {
  /* opacity: 0.5; */
}

.lineData,
.circleData {
  /* opacity: 0.5; */
}

.inspectionData {
  opacity: 0.75;
  stroke: black;
  stroke-width: 1;
}

.noMREclass {
  /* stroke: white; */
  opacity: 0.2;
}

.inspectionData.inspectrectTESTED,
.infectionStatus.statusGESUND {
  /* fill: rgb(55, 126, 184); */
  fill: rgb(14, 170, 241);
}

.inspectionData.inspectrectBEFUND,
.infectionStatus.statusKRANK {
  fill: rgb(215, 25, 28);
}

.infectionStatus.statusUNBEKANNT {
  fill: rgb(177, 177, 177);
}

.infectionStatus.statusINFEKTIONSZEIT {
  /* fill: rgb(255, 127, 0); */
  /* fill: #984ea3; */
  fill: rgb(100, 100, 100);
  /* fill: rgb(150, 150, 150); */
}

.infectionStatus.statusTRAEGER,
.inspectionData.inspectrectTRAEGER {
  fill: rgb(255, 127, 0);
}

.infectionStatus.statusTRAEGER,
.inspectionData.inspectrectTESTED {
  fill: rgb(14, 170, 241);
  /* fill: rgb(255, 127, 0); */
}

.infectionStatus.statusTRAEGER,
.inspectionData.inspectrectINFIZIERT {
  fill: rgb(255, 0, 0);
}

.inspectionData.inspectrectNOTTESTED,
.infectionStatus.statusNOTEST {
  fill: white;
  opacity: 0.25;
}

.infectionStatus {
  opacity: 0.4;
}

.status_wird_krank {
  fill: rgb(100, 100, 100);
}

.status_unbekannt {
  fill: rgb(55, 126, 184);
}

.status_traeger {
  fill: rgb(255, 127, 0);
}

.status_krank {
  fill: rgb(215, 25, 28);
}

/* - - - - - - - - - -*/

.ticks {
  font: 10px sans-serif;
}

.track,
.track-inset,
.track-overlay {
  stroke-linecap: round;
}

.track {
  stroke: #000;
  stroke-opacity: 0.3;
  stroke-width: 10px;
}

.track-inset {
  stroke: #ddd;
  stroke-width: 8px;
}

.track-overlay {
  pointer-events: stroke;
  stroke-width: 50px;
  stroke: transparent;
  cursor: pointer;
}

.handle {
  fill: #fff;
  stroke: #000;
  stroke-opacity: 0.5;
  stroke-width: 1.25px;
}

.lineData,
.circleData {
  opacity: 0.8;
  cursor: pointer;
}

.lineData:hover,
.circleData:hover {
  opacity: 1;
}

.mouseLabel,
.patientLabel,
.mouseLine {
  pointer-events: none;
}

.legendenFarbe {
  width: 100%;
  height: 20px;
}

.legendeUNBEKANNT {
  background-color: rgb(55, 126, 184);
}

.legendeGESUND {
  background-color: rgb(100, 100, 100);
}

.legendeANSTECKUNG {
  background-color: rgb(255, 127, 0);
}

.legendeINFIZIERT {
  background-color: rgb(215, 25, 28);
}
