:root {
    --GeneralFont: sans-serif;
    --headerHeight: 150px;
    --footerHeight: 25px;
    /* --headerLineHeight: 40px;
    --headerLinePadding: 5px; */
    --headerLineHeight: 0px;
    --headerLinePadding: -5px;
    --colorRed: rgb(185,15,34);
  }
  
  html {
      height: 100%;
  }
  
  body {
      margin: 0;
      background: #e1e1e1;
      width: 100%;
      height: 100%;

      overflow: hidden;
  }

  .invisibleFileLoader {
      display: none;
  }
  
  #headerLine {
      display: block;
      width: 100%;
      height: var(--headerLineHeight);
      text-align: center;
      padding-bottom: 5px;
      padding-top: 5px;
  
      position: absolute;
      top: var(--headerHeight);
  }
  
  #moduleButton {
      background: lightcyan;
      border-radius: 5px;
      height: 25px;
      width: 125px;
      cursor: pointer;
      font-weight: bold;
      font-family: var(--GeneralFont);
      box-shadow: 2px 2px 5px black;
      border: none;
      text-align: center;
      font-size: 90%;
  
      position: relative;
      right: 2%;
      bottom: 5px;
  }
  
  #moduleButton:hover {
      background: cyan;
      border: 1px black solid;
  }
  
  footer {
      position: absolute;
      bottom: 0px;
      left: 0px;
      height: var(--footerHeight);
      width: 100%;
      background-color: var(--colorRed);
      background: linear-gradient(to top, var(--colorRed) 80%, rgba(255,255,255,0) 90%);
  }
  
  header {
      display: block;
    //   position: absolute;
    //   top: 0px;
    //   left: 0px;
      height: var(--headerHeight);
      width: 100%;
      background-color: var(--colorRed);
      background: linear-gradient(to bottom, var(--colorRed) 80%, rgba(255,255,255,0) 90%);
  }
  
  #GRIS_Logo {
      position: absolute;
      left: 10px;
      top: 10px;
  }
  
  #TUD_Logo {
      position: absolute;
      right: 10px;
      top: 15px;
  }
  
  #HelpButton {
      position: absolute;
      top: 25px;
      right: 215px;
      font-weight: bold;
      cursor: pointer;
      box-shadow: 1px 1px 5px black;
  }
  
  ul.LerntoolLinks {
      list-style-type: none;
  
      line-height: 1.5em;
      font-size: 1.2em;
      font-family: var(--GeneralFont);
  
      position: fixed;
      top: 0px;
      left: 175px;
  }
  
  ul.LerntoolLinks a:link {
      color: white;
  }
  
  ul.LerntoolLinks a:visited {
      color: white;
  }
  
  ul.LerntoolLinks a:hover {
      color: lightblue;
  }

  #layoutRoot {
    height: calc(100% - var(--headerHeight) - var(--footerHeight));
  }

  .lm_maximised {
    z-index: 1000;
}
  .lm_dropTargetIndicator {
      z-index: 1000;
  }

  .lm_dragProxy {
      z-index: 1001;
  }

.lm_content {
    // border: none;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}