header {
    display: block;
  //   position: absolute;
  //   top: 0px;
  //   left: 0px;
    height: var(--headerHeight);
    width: 100%;
    background-color: rgb(185,15,34);
    background: linear-gradient(to bottom, rgb(185,15,34) 80%, rgba(255,255,255,0) 90%);
}