.epidemiKeimContainer .svgRoot {
  height: 100%;
  width: 100%;
  background: white;
}

.no_loaded_data_rects {
  mask: url(#mask-stripe);
  fill: rgba(175, 175, 175, 0.2);
}

.epidemiKeimContainer .gyAxis .tick line {
  opacity: 0.5;
  stroke-dasharray: 4, 6;
  stroke-width: 1;
}

.epidemiKeimContainer .bar {
  pointer-events: none;
  /* um die bounding box anzuklicken */
  fill: #ff7f00;
  opacity: 0.5;
}

.epidemiKeimContainer .keimKurve {
  fill: #ff7f00;
  opacity: 0.5;
}

/* .epidemiKeimContainer .meanKurve28 {
    stroke: #ff0000;
    stroke-width: 3px;
    fill: none;
    opacity: 0.5;
}

.epidemiKeimContainer .meanKurve7 {
    stroke: #2f00ff;
    stroke-width: 3px;
    fill: none;
    opacity: 0.5;
} */

.epidemiKeimContainer .meanKurve,
.epidemiKeimContainer .legendLine {
  /* stroke: #0004da; */
  stroke: #ff7f00;
  stroke-width: 3px;
  fill: none;
  opacity: 1;
}

.epidemiKeimContainer .legendText {
  font-size: 80%;
}

.epidemiKeimContainer .gxAxis path,
.epidemiKeimContainer .gyAxis path {
  stroke-width: 3px;
}

.epidemiKeimContainer .bar.hovered {
  opacity: 1;
  cursor: pointer;
}

.epidemiKeimContainer .bar.overThreshold {
  fill: #d7191c;
}

.epidemiKeimContainer .bar.selectedBar {
  opacity: 1;
}

.epidemiKeimContainer .barOverlay {
  opacity: 0.4;
  fill: #ffffff;
}

.epidemiKeimContainer .barOverlay.hovered {
  cursor: pointer;
  opacity: 0.6;
}

.epidemiKeimContainer .label {
  fill: black;
  font: 10px sans-serif;
  text-anchor: middle;
}

.epidemiKeimContainer .thresholdText {
  fill: black;
  font: 12px sans-serif;
  text-anchor: middle;
}

.epidemiKeimContainer .thresholdLine {
  stroke-width: 2;
  stroke: #000000;
}

.epidemiKeimContainer .thresholdLineOverlay {
  stroke-width: 20;
  stroke-opacity: 0;
}

.epidemiKeimContainer .gThreshold .thresholdLineOverlay:hover {
  cursor: n-resize;
}

.dragThresholdLine {
  stroke-width: 10px;
  opacity: 0.5;
  cursor: n-resize;
  stroke: #000000;
}

.dragNotActive {
  display: none;
}

.dragActive {
  display: block;
}

.epidemiKeimContainer .gyAxis text {
  font-size: 1.2em;
}

.epidemiKeimContainer .gxAxis g.tick text {
  cursor: pointer;
  font-size: 1.2em;
}

.epidemiKeimContainer .gxAxis text {
  font-size: 1.5em;
  /* text-decoration: underline; */
}

/* .epidemieContainer .gxAxis path {
    display: none;
} */

.epidemiKeimContainer .gyAxis g.tick:nth-of-type(1) line {
  display: none;
}

.clickable {
  cursor: pointer;
}

.epidemiKeimContainer .mouseLine {
  opacity: 0.5;
  /* stroke-dasharray: 4, 6; */
  stroke-width: 1;
  stroke: black;
}

.dragNotActive {
  display: none;
}

.dragActive {
  display: block;
}

.dragTimeLenseLine {
  stroke-width: 10px;
  opacity: 0.5;
  cursor: col-resize;
  stroke: #000000;
}

.timeLenseLine,
.timeLenseInterpolate {
  fill: none;
  stroke-width: 5;
  stroke: #000000;
  opacity: 0.5;
}

.timeLenseLineOverlay {
  stroke-width: 20;
  stroke-opacity: 0;
}

.timeLenseLineOverlay:hover {
  cursor: col-resize;
}

/* 
.timeLenseInterpolate {
    fill: none;
    stroke: black;
    stroke-width: 5;
    opacity: 0.5;
} */
